.form__wrapper{
    margin-top: var(--space-btw);
    padding: 0 3rem;
}
.form__insideWrapp{
    display: flex;
    flex-direction: column;
    background: rgb(224, 224, 224);
    padding: 2rem;
    border-radius: var(--borders-two);
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
.form__insideContainer{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.form__image{
    flex: 1 1 0px;
}
.form__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--borders-two);
    min-width: 450px;
}
form{
    background: rgb(185, 185, 185);
    padding: 1rem;
    border-radius: var(--borders-two);
    height: 100%;
}
.form__div{
    margin-bottom: 1.5rem;
    border-radius: var(--borders-two);
}
.form__div:nth-child(5){
    margin: 0 auto;
    background: none;
    padding: 0;
    border-radius: none;
}
.form__container{
    flex: 1 1 0px;
}
label{
    margin-bottom: 0.5rem;
    display: block;
    font-family: var(--ff-titles);
    font-size: var(--fs-highlights);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
input::placeholder{
    color:rgb(197, 197, 197);
    font-style: oblique;
}
textarea::placeholder{
    color:rgb(197, 197, 197);
    font-style: oblique;
}
input[type=text] {
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: none;
    border-radius: var(--borders-two);
    max-width: 500px;
    margin: 0 auto;
    display: block;
}
input[type=tel] {
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: none;
    border-radius: var(--borders-two);
    max-width: 500px;
    margin: 0 auto;
    display: block;
}
input[type=email] {
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: none;
    border-radius: var(--borders-two);
    max-width: 500px;
    margin: 0 auto;
    display: block;
}
input[type=submit] {
    background: var(--red-one);
    padding: 1rem;
    width: 200px;
    color: var(--white-one);
    font-weight: var(--roboto700);
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: var(--borders-two);
    margin: 0 auto;
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover {
    background: var(--red-two);
}
textarea{
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: none;
    border-radius: var(--borders-two);
    max-width: 500px;
    margin: 0 auto;
    display: block;    
}
.word-art__container {
    font-size: 48px; 
    display: flex;
    justify-content: center;
    align-items: center;  
}
.word-art h2{
    font-family: var(--ff-titles);
    font-size: var(--fs-xl);
    text-align: center;
    line-height: 110%;
}
.word-art h2 span{
    font-family: var(--ff-titles);
    font-size: var(--fs-xl);
    color: var(--red-one);
    text-align: center;
    line-height: 110%;
}


/*************MEDIAQUERIES**************/

@media (max-width: 1483px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1150px) {

}

@media (max-width: 950px) {/*2 REM padding*/

    .form__wrapper{
        padding: 0 2rem;
    }
    .form__insideContainer{
        flex-direction: column;
    }
    .form__image{
        height: 60vh;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) { /*1 REM padding*/
    .form__wrapper{
        padding: 0;
    }
    .form__insideWrapp{
        padding: 1rem;
        border-radius: 0;
    }
    .form__image img{
        min-width: 100%;
    }

}

@media (max-width: 480px) {

}

@media (max-width: 455px) {

}

@media (max-width: 350px) {

}

/**************************************/