.job__driver__wrapper{
    padding: 0 3rem;
}
.job__driver__logo{
    width: 100%;
}
.job__driver__logo img{
    width: 400px;
    display: block;
    margin: 0 auto;
}
.job__driver__logo a{
    text-align: center;
    background: var(--grey-two);
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem 1.2rem;
    border-radius: 100%;
    color: var(--white-one);
}
.job__driver__logo a:hover{
    background: var(--red-one);
}
.job__driver__logo a i{
    font-size: var(--fs-sub-tittles);
    margin-bottom: 0.2rem;
}
.job__driver__logo a span{
    display: block;
    font-size: 0.8rem;
}
.job__driver__title h1{
    font-family:var(--ff-titles);
    font-size: var(--fs-xxl);
    text-align: center;
}
.job__driver__introText p{
    text-align: center;
}
.job__driver__introText .span_name{
    font-size: var(--fs-s);
    font-family: var(--ff-titles);
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
}
.job__driver__introText .span_bold{
    font-size: var(--fs-highlights);
    font-weight: var(--roboto700);
}
.job__driver__introText .span_bold_red{
    color: var(--red-one);
    font-size: var(--fs-highlights);
    font-weight: var(--roboto700);
}
form{
    width: 100%;
}
fieldset{
    background: #d9d9d9;
    width: 100%;
    padding: 3rem;
    margin: 3rem 0;
    border-radius: var(--borders-two);
}
.fieldset__inside__fieldset{
    background: #bfbfbf;
}
legend{
    font-size: var(--fs-sub-tittles);
    font-family: var(--ff-titles);
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    background: #7FB017;
    padding:  0.5rem 1rem;
    color: var(--white-one);
    border-radius: var(--borders-two);
    text-shadow: 1px 1px 4px black;
}
.legend__inside__legend{
    font-size: 1.3rem;
    font-family: var(--ff-titles);
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    background: var(--grey-two);
    padding:  0.5rem 1rem;
    color: var(--white-one);
    border-radius: var(--borders-two);
    text-shadow: 1px 1px 4px black;
}
label{
    line-height: 150%;
    font-weight: 600;
}
input{
    width: 400px;
    padding: 0.3rem 0.8rem;
    border-radius: var(--borders-two);
    outline: none;
    border: 1px solid rgb(163, 163, 163);


}
input[type=text] {

}
input[type=tel] {
 
}
input[type=date] {
    cursor: pointer;
}

input[type="date" i]{
    color: rgb(138, 138, 138);
}

input[type=email] {
    
}
input[type=radio] {
    height: 30px;
    width: 30px;
    vertical-align: bottom;
    margin:  0 0.5rem;
    cursor: pointer; 
}
input[type=checkbox] {
    height: 30px;
    width: 30px;
    vertical-align: bottom;
    cursor: pointer; 
}
input[type=range] {
    padding: 1rem 0;
    cursor: pointer; 
}

/* input[type=submit] {
    background: var(--red-one);
    padding: 1rem 3rem;
    border: none;
    cursor: pointer; 
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    color: var(--white-one);
    text-shadow: 1px 1px 4px black;
    font-size: 1.3rem;
    font-family: var(--ff-titles);
    letter-spacing: 1px;
} */
select{
    width: 400px;
    padding: 0.3rem 0.5rem;
    border-radius: var(--borders-two);
    outline: none; 
    border: 1px solid rgb(163, 163, 163);
    cursor: pointer;
}
textarea{
    width: 500px;
    padding: 0.8rem;
    border-radius: var(--borders-two);
    outline: none; 
    border: 1px solid rgb(163, 163, 163);
    resize: vertical;
}

.signature_wrapper{
    /* border: 1px solid #ccc;  */
    /* padding: 10px;  */
    /* background: green; */
}
canvas{
    border: 1px solid rgb(113, 113, 113);
    display: block;
    margin: 0 auto;
}
.btn-primary{
    background: var(--red-one);
    padding: 1rem 3rem;
    border: none;
    cursor: pointer; 
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    color: var(--white-one);
    text-shadow: 1px 1px 4px black;
    font-size: 1.3rem;
    font-family: var(--ff-titles);
    letter-spacing: 1px;
    border-radius: var(--borders-two);

}
.btn-primary:hover{
    background: var(--grey-two);
}
.btn-sm{
    /* background: green; */
    margin: 0 auto;
    display: block;
    padding: 0.5rem 1rem;
}



@media (max-width: 950px) {/*2 REM padding*/
    .job__driver__wrapper{
        padding: 0 2rem;
    }
    fieldset{
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    
    input{
        width: 100%;
    }
    select{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
}

@media (max-width: 576px) { /*1 REM padding*/
    .job__driver__wrapper{
        padding: 0 1rem;
    }
    fieldset{
        padding: 1rem;
    }

}