.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 1s;
  position: relative;  
  z-index: 9;
}
.header .logo{
  cursor: pointer;
}
.header .logo img{
  height: 100px;
  width: auto;
  transition: all 0.3s;
}
.header .logo img:hover{
  transform: scale(1.1);
}
nav{
  width: 45%;
}
.header .nav-links{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .nav-links li:hover, .overlay a:hover{
  transform: scale(1.1);
}
.header .nav-links a{
  color: var(--black); 
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: var(--ff-titles);
  font-size: 1rem;
}
.header .nav-links a:hover{
  color: var(--red-one);
}
.menu {
  display:none;
}
.header .menu button{
  margin-left: 20px;
  padding: 1rem;
  background: var(--red-two);
  border: none;
  border-radius: var(--borders-two);
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--white-one);
}
.header .menu button i{
  font-size: 1.5rem;
}
.header .menu button:hover{
  background: var(--red-three);
}

/*Nav Mobile*/
.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: rgba(11, 9, 10, 0.9);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
  transition: all 0.3s ease 0s;
}
.header .overlay .overlay-content{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;    
}
.header .overlay a{
  transition: all 0.3s ease 0s;
  color: var(--white-one);
  font-family: var(--ff-titles);
  font-size: 1.4rem;
  letter-spacing: 10px;
}
.header .overlay a:hover, 
.header .overlay a:focus{
  color: var(--red-one);
}
.header .overlay .close i{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
}

/**************************************************************************************************/

@media (max-width: 1483px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1150px) {

}

@media (max-width: 950px) {/*2 REM padding*/
  .header{
    padding: 2rem;
  }
  nav {
    display: none;
  }
  .menu {
      display: inherit;
  }
}

@media (max-width: 768px) {
  
}

@media (max-width: 576px) { /*1 REM padding*/
  .header{
    padding: 2rem 1rem;
  }
}
@media (max-width: 480px) {
  .header .logo img{
    height: 45px;
  }

}

@media (max-width: 455px) {

}

@media (max-width: 350px) {
  .header .logo img{
    height: 40px;
  }
}

/**************************************************************************************************/
