.parallax__wrapper {
  height: 100%; 
  width: 100%;
  margin-top: var(--space-btw);
  position: relative;
}
.parallax__container{
    width: 100%;
    height: 100%;
}
.parallax__container video{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
.video__background{
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.video__leftSide{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer__quotes-textOne{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.footer__quotes-textOne p{  
  font-family: var(--ff-titles);
  font-size: var(--fs-xxl);
  line-height: 110%;
  color: white;
  text-align: center;
}
.footer__quotes-textOne p span{  
  font-family: var(--ff-titles);
  font-size: var(--fs-xxl);
  line-height: 100%;
  color: #ffd900;
}
.video__rightSide{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.video__rightSide a{
  background: var(--red-one);
  color: var(--white-one);
  /* font-size: 1.5rem; */
  font-weight: var(--roboto700);
  letter-spacing: 2px;
  padding: 1rem 1rem 1rem 0;
  border-radius: var(--borders-two);
  text-transform: uppercase;
  vertical-align: middle;
  display: inline;
}
.video__rightSide a:hover{
  background: var(--red-three);
}
.video__rightSide a i{
  color: var(--white-one);
  font-size: 1.4rem;
  font-weight: var(--roboto700);
  background: var(--red-three);
  padding: 1rem;
  border-top-left-radius: var(--borders-two);
  border-bottom-left-radius: var(--borders-two);
  display: inline;
  vertical-align: middle;
  margin-right: 1rem;
}
#spin:after {
  content:"";
  animation: spin 10s linear infinite;
}


@keyframes spin {
  0% { content:"Call Us"; }
  33% { content:"Text Us"; }
  66% { content:"Contact Us"; }
  100% { content:"Follow Us"; }
  
}

@media (max-width: 350px) {

  .video__rightSide a{
    font-size: 1.2rem;
    
  }
  .video__rightSide a i{
    font-size: 1.5rem;
  }
}
