.slider__wrapper{
  position: relative;
}
.slider {
  position: relative;
  height: 100vh;
  width: 100%;  
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url('../media/slide/mattas_logistics-slide-background.webp') no-repeat center center/cover;  
}
.slide__content-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  background: transparent;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
}
.slide__leftSide{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 8;
}
.slide__leftSide-info{
  position: absolute;
  bottom: -80%;
  transition: all ease-in-out 1s;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.slide-title{
  font-family: var(--ff-titles);
  font-size: var( --fs-xs);
  letter-spacing: 8px;
  text-transform: uppercase;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  color: var(--white-one);
  line-height: 1.1;
  text-align: left;
}
.slide:nth-child(2) .slide-title{
  text-align: right;
}
.slide:nth-child(3) .slide-title{
  text-align: center;
}
.slide-title span{
  font-family: var(--ff-titles);
  font-size: var( --fs-xxl);
  font-weight: 600; 
  color: #f9d423; 
}
.slide-text{
  color: var(--white-one);
  font-size: var(--fs-s);
  text-transform: uppercase;
  margin: 1rem 0 1.5rem 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
  font-weight: var(--roboto300);
  
}
.slide__leftSide-info a{
  background: var(--red-one);
  color: var(--white-one);
  padding: 1rem 1.5rem;
  border-radius: var(--borders-two);
  letter-spacing: 2px;
  font-weight: var(--roboto700);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.8);
  align-self: center;
}
.slide__leftSide-info a:hover{
  background: var(--red-two);
}
.slide.current:nth-child(1) .slide__content-wrapper .slide__leftSide .slide__leftSide-info,
.slide.current:nth-child(2) .slide__content-wrapper .slide__leftSide .slide__leftSide-info,
.slide.current:nth-child(3) .slide__content-wrapper .slide__leftSide .slide__leftSide-info
{
    bottom:50%;
    transform: translateY(50%);
}

.slide.current {
  opacity: 1;
}
.buttons button#next {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 8;
}
.buttons button#prev {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 8;
}
.buttons button {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-white);
  cursor: pointer;
  padding: 15px 18px 12px 18px;
  border-radius: 100%;
  outline: none;
  border: none;
}
.buttons button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/**************************************************************************************************/

@media (max-width: 1483px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1150px) {

}

@media (max-width: 950px) {/*2 REM padding*/

  .slide__leftSide{
    width: 100%;
  }  
}

@media (max-width: 768px) {

}

@media (max-width: 576px) { /*1 REM padding*/
  .slide__leftSide-info{
    padding: 0 1rem;
  }
 
}

@media (max-width: 480px) {

}

@media (max-width: 455px) {

}

@media (max-width: 350px) {

}

/***************************************************************************************************/
  



